

.navbar-brand{
	color: white!important;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 36px;
}

.connect{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5!important;
}

.copy{
	text-align: center;
}

.navright {
 color: #4aaaa5!important;
 font-size: 24px;

}

.bio{
	font-size: 18px;
}

.about{
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding-left: 20px;
}
.container{
	background-color: gray;
	color: #d4d4d4;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #4aaaa5;
}